<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:replace="partials/header :: header('Search Results')"/>
    <style>
        body {
            color: lightgrey;
        }
    </style>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container mt-3">
    <div class="row" th:if="${ads.size() == 0}">
        <div class="p-3 bg-light text-dark">
            <p>The search came up empty!</p>
        </div>
    </div>

    <h1 class="heading">Search Results</h1>

    <div class="row" th:each="ad : ${ads}">
        <hr class="mt-2 mb-5 w-100"/>
        <div class="col-lg-6 col-sm-12">
            <h3 th:text="${ad.adTitle}"></h3>
            <p class="brief" th:text="${ad.description}"></p>
            <p>Trade owner: <span class="text-capitalize" th:text="${ad.seller.username}"></span></p>
            <div class="my-5">
                <a class="offset-3 col-6 btn btn-primary" th:href="@{/ads/view={id} (id=${ad.id})}">View Details</a>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-3" th:each="book : ${ad.books}">
                    <div class="">
                        <h5 class="book-title" th:text="${book.title}"></h5>
                        <p th:text="'By ' + ${book.author}"></p>
                    </div>
                    <div class="">
                        <img class="img img-thumbnail rounded d-block mx-auto" th:src="${book.getImageUrl()}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>