<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Create an Ad</title>
</head>
<body>
    <div>
        <h1>Create an Ad</h1>
    </div>
    <div id="create-ad">
        <form th:action="@{/ads/create}" th:object="${ad}" th:method="post">
            <div id="ad-price">
                <label for="create-ad-price">Price <abbr title="required">*</abbr></label>
                <input id="create-ad-price" type="number" name="ad-price" />
            </div>
            <div id="ad-shipping">
                <label for="create-ad-shipping">Shipping <abbr title="required">*</abbr></label>
                <input id="create-ad-shipping" type="number" name="ad-shipping" />
            </div>
            <div id="ad-tradable">
                <label for="create-ad-tradable">Tradable</label>
                <input id="create-ad-tradable" type="checkbox" name="ad-tradable" />
            </div>
            <div id="ad-new-book">
                <button id="btn-ad-new-book" type="button">Ad a book</button>
            </div>
            <div id="ad-new-book-form">
                <!-- Empty by default -->
            </div>
            <div id="ad-submit-all">
                <button id="btn-ad-submit-all" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>