<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:replace="partials/header :: header('Create Ad')"/>
    <style>
        body {
            background: #233D4D;
            background: linear-gradient(to right, #233D4D, #619B8A);
            color: gray();
        }

        .btn-primary {
            color: #fff;
            background-color: #233D4D;
            border-color: #233D4D;
        }

        .btn-primary:disabled {
            color: #fff;
        !important;
            background-color: #233D4D;
        !important;
            border-color: #233D4D;
        !important;
        }

        .add-new {
            display: none;
        }
        #book-synopsis,
        #book-0-synopsis,
        #book-1-synopsis,
        #book-2-synopsis,
        #book-3-synopsis,
        #book-4-synopsis,
        #book-5-synopsis,
        #book-6-synopsis,
        #book-7-synopsis,
        #book-8-synopsis,
        #book-9-synopsis,
        #ad-description
        {
            height: 3em;
        }

    </style>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<h1 class="text-center mt-3" style="color: whitesmoke">Create a new listing</h1>
<div th:id="create-ad" class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <!-- The Ad portion of the form -->
                <form th:method="post" th:action="@{/ads/create}" class="form-signin">
                    <div th:object="${ad}">
                        <div>
                            <div class="form-label-group">
                                <input th:field="*{adTitle}"
                                       th:id="ad-title"
                                       type="text"
                                       required="required"
                                       class="form-control"
                                       id="ad-title"/>
                                <label for="ad-title">Title</label>
                            </div>
                            <div class="form-label-group">
                                <label for="ad-description">Description</label>
                                    <input th:field="*{description}"
                                              id="ad-description"
                                              required="required"
                                              class="form-control"/>
                            </div>
                            <div class="form-label-group">
                                <label for="ad-price">Trade Value</label>
                                <input th:field="*{price}"
                                       id="ad-price"
                                       type="number" step="0.01" min="0.99" max="9999.99"
                                       required="required"
                                       class="form-control"/>
                            </div>
                            <div class="form-label-group">
                                <label for="ad-shipping">Shipping</label>
                                <input th:field="*{shipping}"
                                       id="ad-shipping"
                                       type="number" step="0.01" min="0.00" max="9999.99"
                                       required="required"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <!-- The books that are already in the ad, on display and still editable -->
                    <div th:each="book, stat : ${ad.books}">
                        <div>
                            <img th:src="${ad.books[__${stat.index}__].imageUrl}"
                                 width="200"
                                 height="300"/>
                        </div>
                        <div class="form-label-group">
                            <label th:for="'book-' + ${stat.index} + '-isbn'">Isbn</label>
                            <input th:field="*{ad.books[__${stat.index}__].isbn}"
                                   th:id="'book-' + ${stat.index} + '-isbn'"
                                   th:minlength="10"
                                   th:maxlength="13"
                                   type="number"
                                   required="required"/>
                        </div>
                        <div class="form-label-group">
                            <label th:for="'book-' + ${stat.index} + '-title'">Title</label>
                            <input th:field="*{ad.books[__${stat.index}__].title}"
                                   th:id="'book-' + ${stat.index} + '-title'"
                                   type="text"
                                   readonly="readonly" required="required"/>
                        </div>
                        <div class="form-label-group">
                            <label th:for="'book-' + ${stat.index} + '-author'">Author</label>
                            <input th:field="*{ad.books[__${stat.index}__].author}"
                                   th:id="'book-' + ${stat.index} + '-author'"
                                   type="text"
                                   readonly="readonly" required="required"
                            />
                        </div>
                        <div class="form-label-group">
                            <label th:for="'book-' + ${stat.index} + '-synopsis'">Synopsis</label>
                                <input th:field="*{ad.books[__${stat.index}__].synopsis}"
                                          th:id="'book-' + ${stat.index} + '-synopsis'"
                                          th:name="'synopsis-' + ${stat.index}"
                                          required="required"/>

                        </div>
                        <div class="form-label-group">
                            <label th:for="'book-' + ${stat.index} + '-wear'">Condition</label>
                            <input th:field="*{ad.books[__${stat.index}__].wear}"
                                   th:id="'book-' + ${stat.index} + '-wear'"
                                   th:min="1" th:max="5"
                                   type="number" step="1"
                                   required="required"/>
                        </div>
                        <div class="form-label-group">
                            <label th:for="'book-' + ${stat.index} + '-image'">Image</label>
                            <input th:field="*{ad.books[__${stat.index}__].imageUrl}"
                                   th:id="'book-' + ${stat.index} + '-image'"
                                   type="text"
                                   readonly="readonly" required="required"/>
                        </div>
                        <div>
                            <!--<input th:value="'Delete'" type="submit" th:formaction="@{/ads/deletebook/{id} (id = ${stat.index})}" /> NOT WORKING
                            PROPERLY, upon hitting enter, you are redirected to a page that doesn't exist-->
                        </div>
                    </div>
                    <!-- A new book the user can add to the list of books -->
                    <div th:object="${newbook}">
                        <h1 class="text-center mt-2">Book information</h1>
                        <h6 class="text-center">Enter a valid ISBN</h6>
                        <div class="form-label-group">
                            <label for="book-isbn">Isbn</label>
                            <input th:field="*{isbn}"
                                   id="book-isbn"
                                   th:minlength="10" th:maxlength="13"
                                   type="number"
                                   required="required"
                                   class="form-control"/>
                        </div>
                        <div class="form-label-group">
                            <label for="book-title">Title</label>
                            <input th:field="*{title}"
                                   id="book-title"
                                   type="text"
                                   readonly="readonly" required="required"
                                   class="form-control"/>
                        </div>
                        <div class="form-label-group">
                            <label for="book-author">Author</label>
                            <input th:field="*{author}"
                                   id="book-author"
                                   type="text"
                                   readonly="readonly" required="required"
                                   class="form-control"/>
                        </div>
                        <div class="form-label-group">
                            <label for="book-synopsis">Synopsis</label>
                                <input th:field="*{synopsis}"
                                          id="book-synopsis"
                                          required="required"
                                          class="form-control"/>

                        </div>
                        <div class="form-label-group">
                            <label for="book-wear">Condition</label>
                            <input th:field="*{wear}"
                                   id="book-wear"
                                   type="number" th:min="1" th:max="5" step="1"
                                   required="required"
                                   class="form-control"/>
                        </div>
                        <div class="form-label-group">
                            <label for="book-image">Image</label>
                            <input th:field="*{imageUrl}"
                                   id="book-image"
                                   type="text"
                                   readonly="readonly" required="required"
                                   class="form-control"/>
                        </div>
                    </div>
                    <hr/>
                    <button class="btn-primary add-new" th:id="btn-new-book"
                            type="submit"
                            formaction="/ads/newbook"
                            disabled="disabled"><i class="fas fa-plus"
                    ></i> Add a New Book
                    </button>

                    <button class="btn-primary btn-success" th:id="btn-new-ad"
                            type="submit"
                            disabled="disabled"><i class="fas fa-plus"></i> Create New Ad
                    </button>
                    <br/>

                </form>
            </div>
        </div>
    </div>
</div>
<script th:replace="partials/footer-js :: scripts"></script>
</body>
</html>