<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
                                                    <!-- +${ad.title} -->
    <link th:replace="partials/header :: header('Viewing Ad')"/>

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div th:if="${param.error}" class="alert alert-warning" role="alert">
    You can not trade with yourself.
</div>
    <div th:object="${ad}" class="">
        <div>
            <h1 th:text="${ad.title}"></h1>
        </div>
        <div>
            <h5 th:text="*{description}"></h5>
        </div>
        <div th:each="book : *{books}">
            <p th:text="${book.title}"></p>
            <p th:text="${book.author}"></p>
            <p th:text="'Condition: '+${book.wear}"></p>
            <div>
                <th:block th:each="genre : ${book.genres}">
                    <span th:text="${genre}"></span>
                </th:block>
            </div>
        </div>
        <div>
            <p>Sold by: <a th:href="@{/users/{id}(id=*{id})}" th:text="${ad.seller.username}"></a></p>
            <p th:text="'Price: $'+*{price}"></p>
            <p th:text="'Shipping: $'+*{shipping}" th:if="*{shipping>0}"></p>
            <p th:text="'Shipping: '+'Free'" th:if="*{shipping==0}"></p>
        </div>
        <!-- TODO: Replace with paypal purchase button-->
        <form th:action="@{/ads/{id}/buy(id=*{id})}" th:method="GET">
            <button>Buy</button>
        </form>
        <!-- TODO: match styling with paypal button-->
        <form th:action="@{/ads/{id}/trade(id=*{id})}" th:method="GET" th:if="*{tradable}" sec:authorize="isAuthenticated()">
            <button>Offer Trade</button>
        </form>
        <div  th:if="*{tradable}" sec:authorize="!isAuthenticated()">
            <button th:disabled="disabled">Offer Trade</button>
            <a th:href="@{/login}">Sign in to trade</a>
        </div>
    </div>
</body>
</html>