<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link th:replace="partials/header :: header('Trading')"/>

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class=" column lg-col-40 mx-auto">
            <div th:object="${ad}" class="card-body">
                <!--<p th:text="*{title}"></p>-->
                <!--<p th:text="*{description}"></p>-->
                <div th:each="book : *{books}">
                    <p th:text="${book.title}"></p>
                    <p th:text="${book.author}"></p>
                    <p th:text="'Condition: '+${book.wear}"></p>
                    <div>
                        <th:block th:each="genre : ${book.genres}">
                            <span th:text="${genre}"></span>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <img th:src="@{/images/trade-arrow.png}" alt="trade icon" th:class="lg-col-20"/>
        <div class="column lg-col-40 mx-auto">
            <th:block th:each="ad:${user.ads}">
                <label>
                <input type="radio" th:name="${ad.id}">
                <div class="card" th:each="book:${ad.books}">
                    <img th:src="${book.imageUrl}" alt="book"/>
                    <p th:text="${book.title}"></p>
                    <p th:text="${book.author}"></p>
                </div>
                </input>
                </label>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>