<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="partials/header :: header('Trading')"/>

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<form id="offer" th:action="@{/ads/{id}/trade (id=${ad.id})}" th:method="POST" >
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12" th:object="${ad}">
                        <!--<p th:text="*{title}"></p>-->
                        <!--<p th:text="*{description}"></p>-->
                        <div class="card">
                            <th:block th:each="book : *{books}">
                                <p th:text="'Condition: '+${book.wear}"></p>
                                <p th:text="${book.title}"></p>
                                <p th:text="${book.author}"></p>
                            </th:block>
                        </div>
                    </div>
                    <img class="col-lg-3 col-md-3 col-sm-12" th:src="@{/images/trade-arrow.png}" alt="trade icon"
                         id="trade"/>
                </div>
                <div class="row">
                    <button class="offset-3 col-6 btn btn-lg btn-primary btn-block text-uppercase mb-3" id="send-offer" type="submit">Make Offer</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-sm-12" th:each="ad:${user.ads}">
                        <div class="card">
                            <label>
                                <input type="radio" name="ad" th:value="${ad.id}" th:object="${ad}"
                                       required="required"/>
                                <div class="book" th:each="book:${ad.books}">
                                    <!--<img th:src="${book.imageUrl}" alt="book"/>-->
                                    <p th:text="${book.title}"></p>
                                    <p th:text="${book.author}"></p>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>