<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<footer class="bg-dark text-light py-3" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-12">
                <h5>E-Libraries</h5>
                <p>Insert one-liner here!</p>
            </div>
            <div class="col-6 col-sm-12">
                <a th:href="@{/about}">About Us</a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>