<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<th:block th:fragment="header(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Overpass" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}"/>
    <link rel="stylesheet" th:href="@{/css/mobileNavCss.css}"/>
    <!--<link rel="stylesheet" th:href="@{/css/mobileProfile.css}"/>-->
</th:block>
</body>
</html>