<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">E <i class="fas fa-book-open"></i> Libraries</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item active" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>

                <li class="nav-item dropdown active" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle"
                       href="#" id="navbarDropdown1"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" th:href="@{/profile}"><i class="fas fa-book"></i> My Books</a>
                        <a class="dropdown-item" th:href="@{/profile/trades}"><i class="fas fa-arrows-alt-h"></i> My Trade Requests</a>
                        <a class="dropdown-item"  th:href="@{/profile/transactions}"><i class="fas fa-receipt"></i> My Past Transactions</a>
                        <a class="dropdown-item" th:href="@{/profile/settings}"><i class="fas fa-cogs"></i> My Settings</a>
                        <form  th:action="@{/logout}" method="post">
                            <button class="dropdown-item" id="menuLogout"><i class="fas fa-sign-out-alt"></i> Logout</button>
                        </form>

                    </div>
                </li>


                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/ads/create}"><i class="fas fa-plus"></i> New Trade Request</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
            </ul>
            <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/search}" th:method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q"/>
                <div class="input-group-append">
                    <select class="custom-select" th:name="option">
                        <option th:value="ads"> Trades</option>
                        <option th:value="books"> Books</option>
                    </select>
                    <button class="btn btn-outline-success my-2 my-sm-0 ml-1" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>



            <!--<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">-->
                <!--<button class="btn-sm btn-warning" id="menuLogout"><i class="fas fa-sign-out-alt"></i></button>-->
            <!--</form>-->
        </div>
    </nav>
</div>
</html>
