<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">

    <ul>

        <li><a th:href="@{index}">Home</a></li>

        <li><a th:href="@{index}">My Books</a></li>

        <li><a th:href="@{index}">Buy</a></li>

        <li><a th:href="@{index}">Sell</a></li>

        <li><a th:href="@{profile}">Profile</a></li>

        <li><a th:href="@{login}">Login</a></li>

        <li><a th:href="@{logout}">Logout</a></li>

        <li><a th:href="@{register}">Register</a></li>

    </ul>

</div>