<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">


    <nav role="navigation" th:fragment="navbar">
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/ads}">Buy Books</a></li>
                <li><a th:href="@{/ads/create}">Sell Books</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">Profile</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button id="menuLogout">Logout</button>
                    </form>
                </li>

                <!--if user is not logged in then show these-->

                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Register</a></li>
            </ul>
        </div>
    </nav>

</html>