<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Jamsey boi</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="./css/main.css"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <noscript>
        <link rel="stylesheet" href="./css/noscript.css"/>
    </noscript>

</head>


<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <section id="main">

            <!-- Items -->
            <div class="items">

                <div class="item intro span-2">
                    <h1>Book Booker Bookings</h1>
                    <p>A site for selling and buying used or like-new books.</p>
                </div>

                <!--Front page display books-->

                <article class="item thumb span-1">
                    <!--Book cover image-->
                    <a href="images/fulls/sample.jpg" class="image"><img src="images/thumbs/browseByGenre.png" alt=""></a>
                </article>


                <article class="item thumb span-1">
                    <h2>Ad Infinitum <br>
                        <span>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                         </span>
                    </h2>
                    <a href="images/fulls/sample2.jpeg" class="image"><img src="images/thumbs/browseByDate.png" alt=""></a>
                </article>

                <article class="item thumb span-1">
                    <h2>Different. <br>
                        <span>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                         </span>

                    </h2>
                    <a href="images/fulls/sample3.jpeg" class="image"><img src="images/thumbs/03.jpg" alt=""></a>
                </article>

                <article class="item thumb span-1">
                    <h2>Elysium <br>
                        <span>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                         </span>

                    </h2>
                    <a href="images/fulls/sample4.jpeg" class="image"><img src="images/thumbs/04.jpg" alt=""></a>
                </article>

                <article class="item thumb span-1">
                    <h2>Kingdom of the Wind <br>

                        <span>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                         </span>

                    </h2>
                    <a href="images/fulls/05.jpg" class="image"><img src="images/thumbs/05.jpg" alt=""></a>
                </article>

                <article class="item thumb span-1">
                    <h2>The Pursuit <br>

                        <span>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                         </span>

                    </h2>
                    <a href="images/fulls/06.jpg" class="image"><img src="images/thumbs/06.jpg" alt=""></a>
                </article>

                <article class="item thumb span-1">
                    <h2>Boundless <br>

                        <span>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                         </span>

                    </h2>
                    <a href="images/fulls/07.jpg" class="image"><img src="images/thumbs/07.jpg" alt=""></a>
                </article>

                <article class="item thumb span-1">
                    <h2>The Spectators <br>

                        <span>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                         </span>

                    </h2>
                    <a href="images/fulls/08.jpg" class="image"><img src="images/thumbs/08.jpg" alt=""></a>
                </article>

            </div>


            <!-- Items -->
            <div class="items">

                <article class="item thumb span-3"><h2>Book Title</h2><a href="images/fulls/05.jpg" class="image"><img
                        src="images/thumbs/05.jpg" alt=""></a></article>

                <article class="item thumb span-1"><h2>The Pursuit</h2><a href="images/fulls/06.jpg" class="image"><img src="images/thumbs/06.jpg"
                                                                                                                        alt=""></a></article>
                <article class="item thumb span-1"><h2>Boundless</h2><a href="images/fulls/07.jpg" class="image"><img src="images/thumbs/07.jpg"
                                                                                                                      alt=""></a></article>
                <article class="item thumb span-1"><h2>The Spectators</h2><a href="images/fulls/08.jpg" class="image"><img src="images/thumbs/08.jpg"
                                                                                                                           alt=""></a></article>
                <article class="item thumb span-1"><h2>You really got me</h2><a href="images/fulls/01.jpg" class="image"><img
                        src="images/thumbs/01.jpg" alt=""></a></article>
                <article class="item thumb span-1"><h2>Ad Infinitum</h2><a href="images/fulls/02.jpg" class="image"><img src="images/thumbs/02.jpg"
                                                                                                                         alt=""></a></article>
                <article class="item thumb span-1"><h2>Different.</h2><a href="images/fulls/03.jpg" class="image"><img src="images/thumbs/03.jpg"
                                                                                                                       alt=""></a></article>
                <article class="item thumb span-1"><h2>Kingdom of the Wind</h2><a href="images/fulls/05.jpg" class="image"><img
                        src="images/thumbs/05.jpg" alt=""></a></article>
                <article class="item thumb span-1"><h2>Elysium</h2><a href="images/fulls/04.jpg" class="image"><img src="images/thumbs/04.jpg" alt=""></a>
                </article>

            </div>

        </section>


        <!-- Footer -->
        <section id="footer">
            <section>

            </section>
            <section>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Not James</li>
                </ul>
            </section>
        </section>

    </div>
    <!-- Scripts -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.poptrox.min.js"></script>
    <script src="./js/browser.min.js"></script>
    <script src="./js/breakpoints.min.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/main.js"></script>

</body>
</html>

<script></script>TH:SRC="@{}"