<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <link th:replace="partials/header :: header('Log in')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
    <h1>login form</h1>

    <form th:action="@{/login}" th:object="${user}" th:method="post">

            Username:<input th:field="*{username}"/>
            Password:<input type="password" th:field="*{password}"/>
            <button type="submit">Login</button>
    </form>
</body>
</html>