<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>profile</title>
    <link rel="stylesheet" th:href="@{/css/mobileIndex.css}"/>
    <link rel="stylesheet" th:href="@{/css/mobileNavCss.css}"/>
    <link rel="stylesheet" th:href="@{/css/mobileProfile.css}"/>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div id="profile">
    <!--<div th:object="${user}">-->
        <!--<h1>Hey!<span th:="text*{username}"></span></h1>-->
    <!--</div>-->


    <img th:src="@{/images/profilePic.jpg}" alt="book" id="profilePic"/>
    <div id="profileMenuBar">
        <ul id="profileLinks">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
            <li><a th:href="@{/profile/edit}">Edit Profile</a></li>
        </ul>
    </div>

    <h2 id="myListings">My Listings</h2>

    <div class="card">
        <img th:src="@{/images/bookexample.jpeg}" alt="book"/>
        <div class="container">
            <div th:each="ad:${user.ads}">
                <div th:each="book:${ad.books}">
                    <h4 th:text="${book.title}"></h4>
                    <h5 th:text="${book.author}"></h5>
                </div>
            </div>
        </div>
    </div>


    <!--this will be a list of all the users books that they can scroll through-->

        <!--<div>-->
            <!---->
            <!--<li th:each="book : ${books}">-->


        <!--</div>-->



</div>
</body>
</html>