<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:replace="partials/header :: header('My Books')"/>
    <style>
        body {
            background: #233D4D;
            background: linear-gradient(to right, #233D4D, #619B8A);
        }


        .row{
            height: 500px;
        }
        .book-cover-profile{
            height: 150px;
            width: 75px;
        }
    </style>
</head>
<body>
    <div th:replace="partials/navbar :: navbar"></div>
    <div id="profile">


        <div class="container">

            <h1 class="font-weight-medium text-center text-lg-left mt-4 mb-0 profile-header"><i class="fas fa-book"></i> My Books</h1>

            <hr class="mt-2 mb-5"/>

            <div class="row text-center text-lg-left">
                <th:block th:if="${user.ads.isEmpty()}">
                    <div class="offset-lg-3 col-lg-6  offset-md-3 col-md-6 col-sm-12">
                        <div class="card text-center">
                            <h4> No trades have been created.</h4>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${!user.ads.isEmpty()}">
                    <div class="col-lg-3 col-md-4 col-6 mb-3 mt-1" th:each="ad:${user.ads}" th:if="${ad.pending}">
                        <a th:href="@{/ads/view={id} (id=${ad.id})}" class="books module">
                        <h5 th:text="*{ad.adTitle}"></h5>
                        </a>


                        <div class="card">
                            <button class="btn btn-primary" type="button"
                                    data-toggle="collapse" data-target="#collapseExample"
                                    aria-expanded="false" aria-controls="collapseExample"
                            >See Books</button>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <a th:href="@{/ads/view={id} (id=${ad.id})}" class="books module">
                                    <th:block th:each="book:${ad.books}">
                                        <img class="img-fluid book-cover-profile" th:src="${book.imageUrl}" alt="book-image"/>
                                    </th:block>
                                </a>
                            </div>
                        </div>


                    </div>
                </th:block>
            </div>
        </div>

    </div>
</body>
</html>