<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:replace="partials/header :: header('Profile')"/>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div id="profile">


    <hr/>

    <h2 id="myListings">My Listings</h2>

    <hr/>
    <div>
        <div class="adContainer" th:each="ad:${user.ads}">
            <div class="card">
                <div class="booksContainer" th:each="book:${ad.books}">
                    <div class="container">
                        <img th:src="${book.imageUrl}" alt="book"/>
                        <h4 th:text="${book.title}"></h4>
                        <h5 th:text="${book.author}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>