<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:replace="partials/header :: header('Register')"/>
</head>
<body>
    <div th:replace="partials/navbar :: navbar"></div>
    <div class="container">
        <h1 id="register">Register</h1>

        <form th:action="@{/register}" th:method="post" th:object="${user}">
            <section id="user-info">
                <fieldset>
                    <label>Username: <input th:field="*{username}"/></label>
                    <label>Email address: <input th:field="*{email}"/></label>
                    <label>Phone number: <input th:field="*{phone}"/></label>
                    <label>Password: <input type="password" th:field="*{password}"/></label>
                    <label>Confirm Password: <input type="password" th:field="*{confirmPassword}"/></label>
                    <button type="submit" value="Register">Register</button>
                </fieldset>
            </section>
        </form>
    </div>
</body>
</html>




