<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/mobileIndex.css}"/>
    <link rel="stylesheet" th:href="@{/css/mobileNavCss.css}"/>
</head>
<body>
    <div th:replace="partials/navbar :: navbar">
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <form th:action="@{/register}" th:method="post" th:object="${user}">
        <section id="register-title">
            <h1>Register</h1>
        </section>
        <section id="user-info">
            <fieldset>
                <h3>Username: <span><input th:field="*{username}"/></span></h3>
                <h3>Email address: <span><input th:field="*{email}"/></span></h3>
                <h3>Phone number: <span><input th:field="*{phone}"/></span></h3>
            </fieldset>
            <fieldset>
                <h3>Password: <span><input type="password" th:field="*{password}"/></span></h3>
                <h3>Confirm Password: <span><input type="password" th:field="*{confirmPassword}"/></span></h3>
            </fieldset>
            <button type="submit" value="Register">Register</button>
        </section>
    </form>
</body>
</html>




