<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="partials/header :: header('Profile')"/>

</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>


<div class="container mt-3">
    <th:block th:if="${trades.iterator().hasNext()}">
    <div class="row" th:each="trade:${trades}">
        <div class="col-12">
            <div class="card">
                <form th:action="@{/profile/trades}" th:object="${trade}">
                <div class="offer" >
                    <h5><span th:text="*{from.username}" class="text-capitalize"></span> wants to trade</h5>

                    <ul th:field="*{id}" th:value="*{id}">
                        <th:block th:each="book: *{wanted.books}">
                            <li th:text="${book.title}"></li>
                        </th:block>
                    </ul>


                </div>
                <div class="yours">
                    <h5>wants to trade</h5>

                    <ul>
                        <th:block th:each="book: *{wanted.books}">
                            <li th:text="${book.title}"></li>
                        </th:block>
                    </ul>
                </div>

                    <button class="btn btn-primary mt-3" name="choice" th:value="'confirm'">Confirm Trade Offer</button>
                    <button class="btn btn-danger mt-3" name="choice" th:value="'deny'">Reject Trade Offer</button>

                </form>
            </div>
        </div>
    </div>
    </th:block>
    <th:block th:if="${!trades.iterator().hasNext()}">
        <div>
            <div class="col">
                <div class="card ">
                    <h4> You have no pending trade requests.</h4>
                </div>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>