<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="partials/header :: header('My Past Transactions')"/>
    <style>
        body {
            background: #233D4D;
            background: linear-gradient(to right, #233D4D, #619B8A);
            color: gray;
        }
    </style>

</head>
<body>
    <div th:replace="partials/navbar :: navbar"></div>


    <div class="container mt-3">
        <div class="my-3">
            <a th:href="@{/profile}" ><i class="fas fa-arrow-left"></i> Back to Profile</a>
        </div>
        <h1 class="heading">My Past Transactions</h1>
        <hr class="mt-2 mb-5"/>
        <th:block th:if="${!transactions.isEmpty()}">
            <div class="row" th:each="transaction:${transactions}">
                <div class="col-12 mx-auto">
                    <div class="card" th:object="${transaction}">
                        <div class="row">
                            <div class="offer col-lg-6 col-md-6 col-sm-12">
                                <h5 class="text-left" th:if="${!(user.id == transaction.buyer.id)}">Book trade with <span th:text="*{buyer.username}"
                                                                                                                        class="text-capitalize"></span>
                                </h5>
                                <h5 class="text-left" th:if="${!(user.id == transaction.seller.id)}">Book trade with <span th:text="*{seller.username}"
                                                                                                                         class="text-capitalize"></span>
                                </h5>
                                <p th:text="*{date}">Trade Status: <span class="completed">Completed</span></p>
                                <ul class="list-unstyled">
                                    <th:block th:each="book:*{trade.wanted.books}">
                                        <li class="border-bottom" th:text="${book.title}+' by '+${book.author}"></li>
                                    </th:block>
                                </ul>
                            </div>
                            <div class="yours col-lg-6 col-md-6 col-sm-12">
                                <h5 class="text-center">In exchange for:</h5>
                                <ul class="list-unstyled">
                                    <th:block th:each="book: *{trade.forSale.books}">
                                        <li class="border-bottom" th:text="${book.title}+' by '+${book.author}"></li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${transactions.isEmpty()}">
            <div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="card text-center">
                        <h4>No transactions to display.</h4>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</body>
</html>