<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:replace="partials/header :: header('404 Not Found')"/>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container mt-3">
    <a th:href="@{/}" style="display: inline-block;"><h5>&lt; Home</h5></a>
</div>
<div class="container mt-3 text-center">
    <h1>404 Not Found</h1>
    <h3>We cant seem to find what you're looking for. Maybe there was a typo or something?</h3>
</div>
</body>
</html>