<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:replace="partials/header :: header('About Us')"/>
    <style>


        .bg {
            border: .25rem solid #f8f9fa;
            background-color: #f8f9fa;
        }

        a {
            color: black;
        }
        a:hover {
            color: lightgray;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <div th:replace="partials/navbar :: navbar"></div>
    <div class="container mt-3">
        <h1 class="text-center title heading mt-5">E-Libraries Developer Team</h1>
        <div class="row">
            <div class="col-lg-3 col-xl-3 mx-auto w-auto">
                <div class=" flex-row my-5">
                    <div class="bg card">
                        <img class="rounded img-fluid" th:src="@{/images/James.jpg}"/>
                        <h3 class="text-center">James<br/>Meyer</h3>
                        <p class="text-center">Software Developer</p>
                        <a class="text-center my-1" th:href="@{https://alumni.codeup.com/students/592}"><i class="fas fa-user-tie"></i> Codeup</a>
                        <a class="text-center my-1" th:href="@{https://github.com/jamesjmeyer210}"><i class="fab fa-github"></i> GitHub</a>
                        <a class="text-center my-1" th:href="@{https://www.linkedin.com/in/james-j-meyer/}"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 mx-auto w-auto">
                <div class="flex-row my-5">
                    <div class="bg card">
                        <img class="rounded img-fluid" th:src="@{/images/Nathaniel.jpg}"/>
                        <h3 class="text-center">Nathaniel<br/>Gumbs</h3>
                        <p class="text-center">Software Developer</p>
                        <a class="text-center my-1" th:href="@{https://alumni.codeup.com/students/610}"><i class="fas fa-user-tie"></i> Codeup</a>
                        <a class="text-center my-1" th:href="@{https://github.com/ngumbs37}"><i class="fab fa-github"></i> GitHub</a>
                        <a class="text-center my-1" th:href="@{https://www.linkedin.com/in/nathaniel-gumbs/}"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 mx-auto w-auto">
                <div class=" flex-row my-5 mx-auto">
                    <div class="card">
                        <img class="rounded img-fluid" th:src="@{/images/Samuel.jpg}"/>
                        <h3 class="text-center">Sam<br/>Rodriguez</h3>
                        <p class="text-center">Software Developer</p>
                        <a class="text-center my-1" th:href="@{https://alumni.codeup.com/students/594}"><i class="fas fa-user-tie"></i> Codeup</a>
                        <a class="text-center my-1" th:href="@{https://github.com/samrooodriguez}"><i class="fab fa-github"></i> GitHub</a>
                        <a class="text-center my-1" th:href="@{https://www.linkedin.com/in/oscar-sam-rodriguez/}"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>