<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:replace="partials/header :: header('Home')"/>
</head>
<body class="is-preload">
    <div th:replace="partials/navbar :: navbar"></div>
    <div id="wrapper">

        <section id="main">

            <div class="items">

                <div class="item intro span-2">
                    <h1>JNS Libraries</h1>
                    <p>A site for selling and buying used or like-new books.</p>
                </div>
                <article class="item thumb span-1">
                </article>
            </div>

        </section>
    </div>

</body>
</html>