<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:replace="partials/header :: header('JNS Libraries')"/>
    <style>
        body {
            background: #619B8A;
            background: linear-gradient(to right, #619B8A, #A1C181);
        }
        .btn-primary {
            color: #fff;
            background-color: #233D4D;
            border-color: #233D4D;
        }
        .search {
            color: white;
            background-color: #FCCA46;
            border-color: black;
        }
    </style>
</head>
<body>
    <div th:replace="partials/navbar :: navbar"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-body">
                        <div>
                            <h1 class="card-title text-center"><i class="fas fa-globe-americas"></i></h1>
                        </div>
                        <label for="adSearch"></label>
                        <form id="adSearch" class="form-signin" th:action="@{/search}" th:method="get">
                            <div class="form-label-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" th:required="required" th:placeholder="Search..." name="q"/>
                                    <div class="input-group-append">
                                        <select class="custom-select" th:name="option">
                                            <option th:value="ads">Ads</option>
                                            <option th:value="books">Books</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="form-label-group">
                                <button class="btn btn-lg btn-primary btn-block text-uppercase search"
                                        th:type="submit"><i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>