<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:replace="partials/header :: header('JNS Libs')"/>
</head>
<body>
    <div th:replace="partials/navbar :: navbar"></div>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <section id="main">

            <!-- Items -->
            <div class="items">

                <div class="item intro span-2">
                    <h1>Book Booker Bookings</h1>
                    <p>A site for selling and buying used or like-new books.</p>
                </div>

                <!--Front page display books-->

                <article class="item thumb span-1">
                    <!--Book cover image-->
                </article>


                <article class="item thumb span-1">
                </article>

                <article class="item thumb span-1">
                    <h2>Different.</h2>
                </article>

                <article class="item thumb span-1">
                    <h2>Elysium </h2>
                </article>

                <article class="item thumb span-1">
                    <h2>Kingdom of the Wind </h2>
                </article>

                <article class="item thumb span-1">
                    <h2>The Pursuit</h2>
                </article>

                <article class="item thumb span-1">
                    <h2>Boundless </h2>
                </article>

                <article class="item thumb span-1">
                    <h2>The Spectators </h2>
                </article>
            </div>
        </section>
    </div>
</body>
</html>