<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <h1>login form</h1>

    <form>
        <label>
            Username:<input type="text" value="username" placeholder="username">
            Phone Number:<input type="text" value="phone" placeholder="optional">
            Email:<input type="text" value="email" placeholder="email">
            Password:<input type="text" value="password" placeholder="password">
            Confirm Password:<input type="text" value="confirmPassword" placeholder="confirm password">
            <button type="submit">Register!</button>
            </label>
    </form>
</body>
</html>