<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/mobileIndex.css}"/>
    <link rel="stylesheet" th:href="@{/css/mobileNavCss.css}"/>
</head>
<body>
    <h1>login form</h1>

    <form th:action="@{home/login}" th:method="post">
        <label>
            Username:<input type="text" value="username" placeholder="username">
            Phone Number:<input type="text" value="phone" placeholder="optional">
            Email:<input type="text" value="email" placeholder="email">
            Password:<input type="text" value="password" placeholder="password">
            Confirm Password:<input type="text" value="confirmPassword" placeholder="confirm password">
            <button type="submit">Register!</button>
            </label>
    </form>
</body>
</html>