<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>profile</title>
</head>
<body>
    <h1>profile</h1>
    <h1> welcome <span>User</span>!</h1>

    <h1>Welcome!<span th:="text*{user.username}"></span> user!</h1>

    <div><h5>This will eventually be a profile photo</h5></div>




    <h2>here are your books:</h2>

    <!--this will be a list of all the users books that they can scroll through-->

        <!--<div>-->
            <!---->
            <!--<li th:each="book : ${books}">-->


        <!--</div>-->


    <div>
        <h4>th: booooooooooooooooooooooooooooooooks</h4>
    </div>

</body>
</html>